@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1f2937;
  --foreground: #1f2937;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "TikTok Sans", Arial, Helvetica, sans-serif;
}
